<%
addHead('<meta name="description" content="Welcome Page">');
addHead('<meta name="author" content="Chinedum Ukejianya">');
addStyle('flat-ui.min.css');
addStyle('vendor/bootstrap.min.css');
addScript('footer', 'flat-ui.min.js');
addScript('footer', 'vendor/jquery.min.js');
%>

<!doctype html>
<html>
  <head>
    <% include header %>
  </head>
  <body>
    <div class="container">

      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Lunch </h1>

        <p> Login or Register with:</p>

        <a href="/login" class="btn btn-embossed btn-primary" style="background-color:#1ABC9C"><span class="fa fa-user"></span> Local Login </a>
        <a href="/signup" class="btn btn-embossed btn-primary" style="background-color:#3498DB"><span class="fa fa-user"></span> Local Signup</a>
      </div>
    </div>
    <%- scripts('footer'); %>
  </body>
</html>
