<h3><span class="fa fa-sign-in"></span>Log in</h3>
<div class="col-sm-12 col-lg-12" style="background-color: #2ba6cb;">
  <br>
  <br>
  <div class="col-sm-12">
    <% if (message.length) { %>
      <div class="alert alert-danger"><%= message%></div>
    <% } %>

    <form class="form-horizontal" action="/login" method="post" role="form">

      <div class="form-group">
        <div class="col-sm-1 col-sm-offset-2">
          <span class="fui-user"></span>
          <label class="control-label"></label>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control flat" name="email" placeholder="Email">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-1 col-sm-offset-2">
          <span class="fui-lock"></span>
          <label class="control-label"></label>
        </div>
        <div class="col-sm-6">
          <input type="password" class="form-control flat" name="password" placeholder="Password">
        </div>
      </div>

      <button type="submit" class="btn btn-warning btn-lg">Login</button>
      <span> or </span>
      <a href='/signup' type="submit" class="btn btn-danger btn-lg">Sign Up</a>
    </form>

    <br>
  </div>
</div>
